* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
margin-right: 0px !important;
overflow: hidden;
}
#pop
{

display: none;
position: fixed;
width: 100%;height:100%;opacity: .5; background: black;z-index: 2000;
top:0
}
.popup
{
position: absolute;z-index: 3000;
display: none;
width: 100%;
height: auto;
}
nopad
{

padding-top: 0px !important;

}
.arena_tab
{
width: 60%;
max-width: 447px;

}
.noborder
{
font-size: 2rem;
border: none !important;
height: 80%;
margin-top: .95%;
}
div.email
{
background-size: 100% 100% !important;
background-repeat: no-repeat;
visibility: hidden;
background: url(../img/email.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

.regtab img
{

width: 100%;
}
.regtab
{
overflow: hidden;
width: 69%;
max-width: 527px;
display: block
}
.submit
{
margin-top: 20px;

width: 40%;
position: absolute;
right: 0px;
}

div.name
{
background: url(../img/name.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.password
{
background: url(../img/password.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.username
{
background: url(../img/username.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}
.email  input
{
width: 63%;
float: right;
}

div.email input
{

}
.modal
{

overflow-y: hidden !important;
}
.center
{
margin: auto
}
.navbar-fixed-bottom
{
background-color: white !important;

}
.fb_photo
{
width: 55%;
min-width: 50px;
max-width: 100px;

}


.skip
{
position: absolute;
right: 0px;
max-width: 312px;
width: 40%;
margin-top: 8%
}
.points
{
width: 15%;
font-size: 3rem;
line-height: 1;
margin-right: 2%;

}

#tag
{
height: 5rem;
width: 14rem !important;
margin-top: 2rem;
font-size: 3rem !Important;

}
.hof_tab
{
width: 60%;
max-width: 450px;
margin: auto;

}

li
{

padding-left: 0px;
}


.hof_toggle
{
width: 10%;
max-width: 76px;
margin: auto;

}


.looks_tab
{
width: 100%;
max-width: 768px;
margin: auto;

}
*
{
color: #303030;
}
.or {
font-size: 3rem;
}
.f1,.f2
{
display: none;

}
.logo
{
margin-top: 13%;

}
.none
{
display: none;

}
.login
{

margin-top: 5%;
}
.tribe .ron
{
width: 100%;
background: #b80941;


}

*
{
font-family: calibri !Important;
}
.m_logo
{
width: 44%;
max-width: 318px !important;

}
.tribe img
{
width: 100%;

}
.tribe
{
margin-bottom: 3%;

}

.more
{
font-size : 3.7rem;
font-style: italic
}
.choose_style
{
margin-top: 0px !important;
font-size : 3.5rem;
color: #b80941;
background: white;
paddding-bottom: 10px;

}

.clear{
    clear: both;
    /* make sure there is no height set to it */
    line-height: 0;
    height: 0;
    font-size: 0em;
}
.navbar-fixed-top

{
background: white;

}
body {
  padding-top: 115px;
}

	@media screen and (max-width: 800px) {
			body {
  
  padding-top: 100px ;
}
}
			
.footer img
{
}

#settings_tab
{
width: 100%;
max-width: 768px;

}

#logout:hover , #change_tribe:hover
{
background: #b80941;
color: white;

}
.s_f
{
padding-top: 0.5%;

}
.container
{
padding-bottom: 100px;
}
.footer_arena
{
background: url(../img/arena_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_looks
{
background: url(../img/looks_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_settings
{
background: url(../img/settings_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_hof
{
background: url(../img/hof_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.fleft
{
float: left;

}
.nopad
{

padding: 0px !Important;
}

.gray
{
color: #a6a6a6;

}
.bd
{
border-bottom: solid 1px #a6a6a6;

}

p
{
font-weight: normal ;
font-size: 3rem;
margin-top: -10px !Important;
}
.bold
{
font-weight: bold !Important;

}
.top_tags, .ctag
{

font-size: 3rem !Important;

}

h3, .h3 {
font-size: 2.5rem !important;
}
.pink ,.gray
{

font-size: 2.5rem;
}
.pink_b
{
border: solid 5px #b80941;
}
.pinkb
{
background: #b80941;
}
.black
{
color: #303030;
}
.nega
{
margin-top: -2%;
}
.logo_start
{

width: 82%;
max-width: 635px !important;

}
.login_start,.reg_start
{
max-width: 488px !important;
width: 63%;

}
body.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
	padding-top: 100px;
    white-space: nowrap;
    overflow-x: auto;
}

body.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

body.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}
.like_modal
{
overflow: hidden !Important;

}

/* for modal */
.hov:hover
{

opacity: .7 !important;
}

.modal-dialog
{

width: auto !important;
}