/*****login + register */
.main_page
{
margin-top: 10%;
}

.none
{
display: none;

}
.login_div
{
width: 100%;
position: absolute;
top:0;
left: 0;
}


div.name
{
background: url(../img/name.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.password
{
background: url(../img/password.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.username
{
background: url(../img/username.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}
.email  input
{
width: 63% !important;
float: right;
margin-top: 1rem;
height: auto;
}

div.email input
{

}

/*********scroll */
.frame {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}

.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    padding: 20px;
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}