.frame
{
visibility: hidden;
}
/*8feeds**/
.feed_tab
{

width: 100%;
max-width: 700px;
}
.activity_item
{
float: left;

}
body
{
overflow: hidden
}
/*hof***:*/

.img-ron
{
width: 100%;
}

.hof_div .ron
{
width: 500vw;

}
.third
{
margin-right: 5vw;
float: left;
width: 40vw; 
}
.scroller_hof
{
margin-top: 5vw;
width: 500vw;
	height:100%;
	float:left;
	padding:0;


}
.hof_tab
{
width: 50%;
max-width: 450px;
margin: auto;
}


#triangle {
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-left: 100px solid transparent;
}

.hof_bottom
{
background:url(../img/hof_bottom.png);
min-height: 8rem;
background-repeat: no-repaeat;
margin-left: 1%;
background-size: 100% 100%;
margin-bottom:-2px;
}
.hof_div
{
height: 100% !important;
}


/**********looks */

.looks_div .big_img,.big_img2
{
top:0px;
/*
border: 1px solid transparent;

-webkit-transform: translate3d(0,0,0);
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d; 

*/
z-index: 4000;
height: 100% !important;
width: auto !important;
margin: 0 auto !important;
 
  display: none;
  position: fixed
}
.looks_tab
{
width: 100%;
max-width: 768px;
margin: auto;
position: absolute;
top:0;
left:0;
z-indx: 100;
}
/******arena ***/
.arena_tab
{
width: 60%;
max-width: 447px;

}
	.points
{
display: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: solid 2px #9d9fa2;
min-width: 70px;
text-align: right;
margin-top: 5px;
color: #b80941;
padding-right: 4px;

}

	
#add_tag
{
overflow: hidden;

}
#tag
{
height: 10rem;
width: 14rem !important;
margin-top: 2rem;
font-size: 1.2rem !Important;

}
.fb_photo
{
width: 55%;
min-width: 50px;
max-width: 100px;

}
.col-xs-3
{
float: left;
width: 25%;

}
.col-xs-7
{
float: left;
width: 70%;

}

#tag ,input
	{
	float: left;
	box-shadow: none !important;
	border: none !important;
	border-style: none !important;
	width: 100px !important;
	border-width: 0px !important;
	}
	#parent_tag
	{
	width: 100%;
 min-height: 190px;
 border: solid 1px #b8b8b8;
	}
	.ctag
	{
	background: #b80941 !important;
	color: white !important;
	
	}
	.top_tags ,.ctag
	{
	float: left;
	background: #d3d3d3;
	padding: 5px; margin: 5px;
	color: black;
position: relative;

	}
	.tops
	{
	overflow: hidden;
	 border-bottom: solid 1px #b8b8b8;

	}
	
	.tags
		{
		margin-top: 168px;
border: solid 2px #898989;
width: 220px;
margin-left: 20px
		}
.like_modal
	{
	font-weight: bold;
	padding-top: 20px;
	background: url(../img/like_modal.png);
	background-size: 100% 100%;
	
background-color: none !important;
top: 10px;
background-repeat: no-repeat;
overflow: hidden !Important;

	}

.navbar_arena
{
position:absolute;
top: 0;
margin-bottom: 1rem;
}
.col-xs-6
{
width: 50%;
}

.confirm_button
{
margin-bottom: 20px;
width: 40%;
max-width: 325px !important;


}
.pop_back

{
width: 20%;
max-width: 164px !important;


}
.pull-left
{
float: left;
}
.tag_content
{

width: 75%;

}

a.arena_img img
{
width: 100%;


}

.pdesc
{
color: white;
}
.item_desc
{

font-size: 1rem !important;
}
.skip
{
   
   
 z-index:1; /*for some reason we need a z index */
position: fixed;
right: 0px;
max-width: 312px;
width: 40%;
margin-top: 3%;
right: 0px;
bottom: 10%;
}
.points
{
width: 15%;
font-size: 1.2rem;
line-height: 1;
margin-right: 3%;

}

.fleft
{
float: left;

}
.nopad
{

padding: 0px !Important;
}

.gray
{
color: #a6a6a6;

}
.bd
{
border-bottom: solid 1px #a6a6a6;

}

.loader
{
position: absolute;
margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  z-index: -1;
  bottom: 0;
  display:inline-block;
}

.tapper
{
display:inline-block;
position: absolute;
margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 99999;
  width: 80%;
  top: 40%;
  max-width: 400px;
  z-index: 100;
 
}


/*****login + register */
.main_page
{
margin-top: 10%;
}

.regtab img
{

width: 100%;
}
.regtab
{
overflow: hidden;
width: 69%;
max-width: 527px;
display: block
}
.submit
{
margin-top: 20px;

width: 40%;
position: absolute;
right: 0px;
}

.logo_start
{

width: 82%;
max-width: 635px !important;

}

.col-xs-4
{
float: left;
width: 32%;
}
.navbar
{
margin-bottom: 2rem;
z-index: 1000;
position: fixed;
left: 0px;
top: 0px;
width: 100%
}
.center
{
text-align: center;
margin: auto;
}
.login_start,.reg_start
{
max-width: 488px !important;
width: 63%;

}
.none
{
display: none;

}
.login_div,.register_div,.tribe_div,.arena_div,.looks_div
{
width: 100%;
position: absolute;
top:0;
left: 0;
padding-bottom: 10vh;
}
.hov:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);
}
input.noborder
{
font-size: 1.2em;
border: none !important;
height: 80% !Important;
margin-top: .85% !important;
background: transparent !important;
}

div.email
{
background-size: 100% 100% !important;
background-repeat: no-repeat;
visibility: hidden;
background: url(../img/email.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}
div.name
{
background: url(../img/name.png);
background-size: 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.password
{
background: url(../img/password.png);
background-size: 100% 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}

div.username
{
background: url(../img/username.png);
background-size: 100% 100%;
overflow: hidden;
min-height: 10px;
width: 90%;
min-width:90%;
max-width: 689px;
margin: auto;
}
.email  input
{
width: 63% !important;
float: right;
margin-top: 1rem;
height: auto;
}

div.email input
{

}
/*******tribes */
.full
{
width: 100%;
overflow: hidden;
}
.m_logo
{
width: 44%;
max-width: 318px !important;

}
.tribe .ron
{
width: 100%;
background: #b80941;


}

.res_con
{
height:100vh;
overflow: hidden;
}
.tribe img
{
width: 100%;

}
.tribe
{
padding: .6%;
}

.more
{
font-size : 2rem;
font-style: italic
}
.choose_style
{
margin-top: 0px !important;
font-size : 1.2rem;
color: #b80941;
background: white;
paddding-bottom: 10px;

}
/*********scroll */
.frame {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}

.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    padding: 20px;
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#wrapper,#wrapper_looks,#wrapper_feeds ,#wrapper_hof{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
	height: 90vh;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

/*****popups **********/

#pop
{

display: none;
position: fixed;
width: 100%;height:100%;opacity: .5; background: black;z-index: 2000;
top:0
}


.looks_div .big_img,.big_img2
{
top:0px;
/*
border: 1px solid transparent;

-webkit-transform: translate3d(0,0,0);
-webkit-backface-visibility: hidden;
-webkit-transform-style: preserve-3d; 

*/
z-index: 4000;
height: 100% !important;
width: auto !important;
margin: 0 auto !important;
 
  display: none;
  position: fixed
}
.popup
{
top: 0;
left: 0;
position: absolute;
z-index: 3000;
display: none;
width: 100%;
height: auto;
}
.col-xs-9
{
width: 70%;
float:left;

}
/*******global ********/
small.gray
{
font-size: 1rem !important;
font-weight: normal;

}
*
{
font-family: calibri !Important;
color: #303030;
}
p
{
margin: .3rem;
}
.top_tags, .ctag
{

font-size: 1.1rem !Important;

}

h3, .h3 {
font-size: 1.2rem !important;
}
.pink ,.gray
{

font-size: 1.2rem !important;
}
.pink_b
{
border: solid 5px #b80941;
}



.pinkb
{
background: #b80941;
}
.black
{
color: #303030;
}
.nega
{
margin-top: -2%;
}
.none
{
display: none;
}

/***footer*/
.navbar-fixed-bottom div
{
float: left;
width: 20%;

}

.navbar-fixed-bottom
{
 position: fixed;
    bottom: 0;
   visibility:hidden;
    bottom: 0;
    left: 0;
	z-index: 200;
    right: 0;
width:100%;
background: white;
}
.navbar-fixed-bottom div img
{
width: 100%;

}
	.row
	{
	
	width: 100%;
	overflow: hidden;
	}
.footer_arena
{
background: url(../img/arena_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_looks
{
background: url(../img/looks_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_settings
{
background: url(../img/settings_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
.footer_hof
{
background: url(../img/hof_s.png);
background-repeat: no-repeat;
background-size: 100% 100%;

}
